.grid-container {
  columns: 4 288px;
  column-gap: 24px 32px;
  width: 80%;
  margin: 0 auto;
  div {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    padding: 5px;
    transition: all .25s ease-in-out;
    &:hover {
      border-color: coral;
    }
    img {
      width: 100%;
      border-radius: 32px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: left;
    }
  }
}

.load-more-button{
  margin: 0 auto;
  width: 179px;
  height: 48px;
}