* {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: normal;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 63.75%;
  height: auto;
  margin: 0 auto;
  margin-top: 62px;
}
header .logo {
  display: grid;
  grid-template-columns: 70px auto;
}
header .logo img {
  align-self: center;
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
header .logo .name {
  align-self: center;
}
header .logo .name h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0px 0px 6px 31px;
}
header .logo .name h4 {
  font-size: 24px;
  line-height: 16px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 6px 0px 0px 31px;
}
header .social {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1.5rem;
}
header .social a {
  padding-left: 32px;
}
header .social a svg {
  color: #000000;
  height: 20px;
  width: 20px;
}
header .about {
  grid-column: 1/span 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  margin-top: 60px;
  margin-bottom: 96px;
}
header span {
  font-weight: bold;
}

.grid-container {
  border-bottom: 1px solid #E5E5E5;
  columns: 4 288px;
  column-gap: 24px 32px;
  width: 63.75%;
  margin: 0 auto;
}
.grid-container div {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 288px;
  max-height: fit-content;
  padding: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div img {
  width: 100%;
  border-radius: 32px;
  transition: all 0.25s ease-in-out;
}
.grid-container div div {
  font-style: normal;
  padding-left: 16px;
}
.grid-container div div p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 5px 0;
  padding: 0;
  text-align: left;
}
.grid-container div div a:nth-child(2) {
  color: red;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  float: right;
  top: -34px;
  right: 32px;
  text-align: center;
}
.grid-container div div a:nth-child(2) svg {
  color: red;
}
.grid-container div div p:nth-child(4) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: -16px;
}
.grid-container div div a:nth-child(5) {
  color: #189DFE;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.load-more-button {
  margin: 0 auto;
  width: 179px;
  height: 48px;
  margin-top: 48px;
  padding: 24px;
}
.load-more-button button {
  border: 0;
  border-radius: 50px;
  background: #189EFE;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  padding: 8px 32px;
  width: 179px;
  height: 48px;
}
.load-more-button button:hover {
  cursor: pointer;
}

.footer {
  background: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 63.75%;
  height: 96px;
  margin: 0 auto;
  margin-top: 104px;
}
.footer p {
  padding: 24px;
}
.footer p .footer-name {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}
.footer a {
  color: #189DFE;
  justify-self: end;
  text-align: right;
  padding: 37px 24px 35px 0px;
  margin-top: auto;
  margin-bottom: auto;
}

/*# sourceMappingURL=style.css.map */
